/* Joshua Ambeau
*/
body{
    font: normal normal normal 12px/1.5 verdana, arial, helvetica, sans-serif;
    height : 100vh;
    width : 100vw;
    background-color: hsla(200, 40%, 81%, 0.7);
     }

h2{ 
    font-size: 2rem;
    color: #fc9;

}